/*
8       XXS       base       01
16      XS       x-two       02
24      S        x-three     03
32      M        x-four      04
40      L        x-five      05
48      XL       x-six       06
56      XXL      x-seven     07
64      XXXL     x-eight     08
*/
.sunny-lime {
  color: rgb(34, 34, 34);
  background-color: rgb(219, 251, 161);
}

.pink-crepe {
  color: rgb(34, 34, 34);
  background-color: rgb(253, 197, 200);
}

.heather {
  color: rgb(34, 34, 34);
  background-color: rgb(206, 197, 225);
}

.light-teal {
  color: rgb(34, 34, 34);
  background-color: rgb(150, 216, 208);
}

.sky-blue {
  color: rgb(34, 34, 34);
  background-color: rgb(116, 209, 255);
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.grid {
  display: grid;
}

.column {
  flex-flow: column;
}

.row {
  flex-flow: row;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.ac-c {
  align-content: center;
}

.gap-1 {
  gap: 0.5em;
}

.gap-2 {
  gap: 1em;
}

.gap-3 {
  gap: 1.5em;
}

.gap-4 {
  gap: 2em;
}

.gap-5 {
  gap: 2.5em;
}

.gap-6 {
  gap: 3em;
}

.gap-7 {
  gap: 3.5em;
}

.gap-8 {
  gap: 4em;
}

.br-1 {
  border-radius: 0.5em;
}

.br-2 {
  border-radius: 1em;
}

.br-3 {
  border-radius: 1.5em;
}

.br-4 {
  border-radius: 2em;
}

.br-5 {
  border-radius: 2.5em;
}

.br-6 {
  border-radius: 3em;
}

.br-7 {
  border-radius: 3.5em;
}

.br-8 {
  border-radius: 4em;
}

.ta-r {
  text-align: right;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.a-block {
  display: block;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.img img {
  flex-shrink: 1;
  min-width: 100%;
  min-height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  color: var(--faded-black);
  background-color: rgb(235, 241, 249);
  user-select: none;
}

*, *::before, *::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 1em 0;
  margin: 0 auto;
  font-family: "Urbanist", sans-serif;
  overflow: hidden;
}

header {
  margin: 0 auto;
  width: min(100% - 64px, 86em);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  margin: 5em auto 0;
  width: min(100% - 64px, 86em);
  display: flex;
  align-items: start;
  gap: 1em;
}
@media (max-width: 43.74875em) {
  main {
    flex-direction: column;
    gap: 2em;
  }
}

html::-webkit-scrollbar {
  display: none;
}

.heading {
  font-size: 1.6875rem;
  font-weight: 600;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}

.body {
  font-size: 1.125rem;
  font-weight: 500;
  font-style: normal;
  line-height: 130%;
  text-decoration: none;
  text-transform: none;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}

.subtitle {
  font-size: 0.75rem;
  font-weight: 500;
  font-style: normal;
  line-height: 130%;
  text-decoration: none;
  text-transform: none;
}

.menu-item-text {
  font-size: 0.875em;
  font-weight: 500;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a, a:visited, a:active {
  text-decoration: none;
  color: hsla(0, 0%, 0%, 0.878);
}

.bold {
  font-weight: bold;
}

.s-bold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.underline {
  text-decoration: underline;
}

.to-ideas {
  width: 100%;
  padding: 0.5em 1.5em 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(34, 34, 34, 0.25);
  border-radius: 4em;
}
.to-ideas .left {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.to-ideas .left .show {
  padding: 1em;
  color: rgb(255, 255, 255);
  background-color: rgb(34, 34, 34);
  border-radius: 4em;
}
.to-ideas .left .show .frame {
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-menu {
  display: none;
  position: fixed;
  bottom: -100%;
  left: 4%;
  width: 90vw;
  transform: scale(1.1);
  border-radius: 0.5em 0.5em 0 0;
  padding: 1.5em 1.5em 1em;
  box-shadow: 0 0 15px hsla(0, 0%, 13%, 0.3);
  background-color: var(--off-white);
  transition: opacity ease-in-out 0.4s, transform ease-in-out 0.4s, outline linear 0s, bottom ease-in-out 0.4s;
}
.burger-menu .close-btn {
  position: absolute;
  top: 0.9375em;
  right: 1.5em;
  cursor: pointer;
}
.burger-menu .menu-items {
  padding: 1em 0;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.125);
}
.burger-menu .menu-items .menu-item {
  display: flex;
  width: 98%;
  gap: 1em;
  padding: 1em;
  transition: 0.25s ease-in-out;
  border-radius: 0.5em;
}
.burger-menu .menu-items .menu-item:hover {
  background-color: var(--hover-black);
}
.burger-menu .search-input {
  padding: 0.5em 0.5em 0.5em 1em;
  margin-block-start: 0.5em;
  width: 100%;
  border: none;
  background-color: var(--off-white);
}
.burger-menu .search-input::placeholder {
  color: hsla(0, 0%, 0%, 0.3);
}
@media (max-width: 43.74875em) {
  .burger-menu {
    display: flex;
    flex-flow: column;
  }
}

.sign-up-form {
  position: fixed;
  top: -1000%;
  left: 50%;
  transform: translateX(-50%) translateY(50%) scale(1.25);
  width: min(90%, 32.5em);
  padding: 1.5em;
  display: flex;
  flex-flow: column;
  border-radius: 0.5em;
  background: var(--off-white);
  box-shadow: 0 0 15px hsla(0, 0%, 13%, 0.3);
  opacity: 0;
  transition: opacity ease-in-out 0.25s, transform ease-in-out 0.25s;
}
.sign-up-form .close-btn {
  position: absolute;
  top: 0.75em;
  left: 0.75em;
  cursor: pointer;
}
.sign-up-form .heading {
  width: min(100%, 22.5em);
  display: flex;
  flex-flow: column;
  align-self: center;
  text-align: center;
  gap: 1em;
}
.sign-up-form .heading .logo {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  padding: 0.75em;
  background: var(--faded-black);
  border-radius: 0.5em;
}
.sign-up-form form {
  width: min(100%, 22.5em);
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  flex-flow: column;
  gap: 0.5em;
}
.sign-up-form form .input-field {
  display: flex;
  flex-flow: column;
  gap: 0.25em;
  width: 100%;
}
.sign-up-form form .input-field input {
  width: 100%;
  padding: 0.5em 0.75em 0.5em 2em;
  background: #FFFEFB;
  border-radius: 0.5em;
  border: 0.0625em solid #D9D9D9;
}
.sign-up-form form .input-field .icon {
  position: absolute;
  top: 0.75em;
  left: 0.46875em;
  z-index: 10;
}
.sign-up-form form .input-field small {
  opacity: 0;
  margin-top: -24px;
  transition: all ease-in-out 0.5s;
  padding-inline-start: 0.25em;
}
.sign-up-form form .input-field small::first-letter {
  text-transform: capitalize;
}
.sign-up-form form .input-field input[type=submit] {
  margin-block-start: 0.5em;
  border: none;
  color: var(--off-white);
  background-color: var(--faded-black);
  line-height: 2em;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1254901961);
  cursor: pointer;
}
.sign-up-form form .error-field input {
  color: var(--terracotta-orange);
  border: 0.0625em solid var(--terracotta-orange);
}
.sign-up-form form .error-field input::placeholder {
  color: var(--terracotta-orange);
}
.sign-up-form form .error-field .icon {
  top: 0.6875em;
}
.sign-up-form form .error-field .icon svg path {
  fill: var(--terracotta-orange);
}
.sign-up-form form .error-field small {
  opacity: 1;
  margin-top: 0;
  color: var(--terracotta-orange);
}
.sign-up-form form .user-field {
  position: relative;
}
.sign-up-form form .email-field {
  position: relative;
}
.sign-up-form form .password-field {
  position: relative;
}
.sign-up-form form .alt-option {
  text-align: center;
  font-size: 0.75rem;
  color: hsla(0, 0%, 0%, 0.25);
  list-style: none;
}
.sign-up-form form .alt-option a {
  text-decoration: underline;
  color: var(--faded-black);
}

.popup-open {
  overflow: hidden;
  pointer-events: none;
}
.popup-open .popup {
  opacity: 1;
  top: 0;
  transform: translateX(-50%) translateY(50%) scale(1);
  outline: 62.4375em solid hsla(45, 31%, 95%, 0.6);
  pointer-events: auto;
}
.popup-open .burger-menu-active {
  opacity: 1;
  bottom: 0;
  transform: scale(1);
  outline: 6249.9375em solid hsla(45, 31%, 95%, 0.6);
  pointer-events: auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: rgb(34, 34, 34);
}

nav {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  gap: 0.5em;
  border-radius: 4em;
  background-color: rgba(243, 246, 251, 0.5);
  backdrop-filter: blur(4px);
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.04);
}
nav .menu-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.875em;
  background-color: rgb(255, 255, 255);
  border-radius: 4em;
}
nav .menu-item p {
  display: none;
  font-size: 0.875rem;
  font-weight: 600;
}
nav .menu-item svg .fill {
  fill: rgb(34, 34, 34);
}
nav .menu-item svg path {
  stroke: rgb(34, 34, 34);
}
nav .active {
  background-color: rgb(34, 34, 34);
}
nav .active p {
  display: block;
  color: rgb(255, 255, 255);
}
nav .active svg .fill {
  fill: rgb(255, 255, 255);
}
nav .active svg path {
  stroke: rgb(255, 255, 255);
}
@media (max-width: 43.74875em) {
  nav {
    position: fixed;
    bottom: 2.5%;
    left: 50%;
    transform: translate(-50%, -2.5%);
    z-index: 10;
    display: flex;
  }
}
@media (max-width: 400px) {
  nav .menu-item p {
    display: none;
  }
}

.s-nav {
  display: none;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.profile .pic {
  width: 3em;
  height: 3em;
  border-radius: 4em;
  background-color: rgb(34, 34, 34);
}

.main-content {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  gap: 4em;
}
@media (max-width: 56.24875em) {
  .main-content {
    flex-basis: 60%;
    gap: 1.5em;
  }
}

.aside {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  gap: 5em;
}
.aside .content {
  height: 75vh;
  display: flex;
  flex-direction: column;
  gap: 2em;
  overflow-y: auto;
  overflow-x: hidden;
  padding-block-end: 10em;
}
.aside .content::-webkit-scrollbar {
  display: none;
}
@media (max-width: 43.74875em) {
  .aside .content {
    display: none;
  }
}
@media (max-width: 56.24875em) {
  .aside {
    flex-basis: 40%;
  }
}

.company-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company-profile .buttons {
  display: flex;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.form-container h4 {
  padding-inline-start: 0.5em;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 5em;
  padding: 1em;
  border-radius: 2em;
  background-color: rgb(243, 246, 251);
}
.add-form .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-form .inputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.add-form .inputs .type-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.add-form .inputs input, .add-form .inputs textarea {
  width: 100%;
  padding: 1em 0.875em;
  color: rgb(34, 34, 34);
  background-color: rgb(243, 246, 251);
  border: 1px solid rgba(34, 34, 34, 0.25);
  border-radius: 4em;
}
.add-form .inputs input::placeholder, .add-form .inputs textarea::placeholder {
  font-family: "Urbanist", sans-serif;
  color: rgb(34, 34, 34);
}
.add-form .inputs input:focus, .add-form .inputs textarea:focus {
  outline: 1px solid rgb(34, 34, 34);
}
.add-form .inputs textarea {
  height: 10em;
  max-height: 15em;
  resize: none;
  border-radius: 1.5em;
}
.add-form .inputs textarea::-webkit-scrollbar {
  display: none;
}
.add-form .inputs input[type=submit] {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(34, 34, 34);
}

.vote-cards {
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 0.5em), 1fr));
  grid-auto-rows: 0;
  gap: 0.5em;
  grid-auto-flow: dense;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 2em;
  padding-block-end: 4em;
}
.vote-cards::-webkit-scrollbar {
  display: none;
}
@media (max-width: 56.24875em) {
  .vote-cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 43.74875em) {
  .vote-cards {
    padding-block-end: 10em;
  }
}

.vote-card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 5em;
  padding: 1em;
  border-radius: 2em;
}
.vote-card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vote-card .top .pic {
  width: 2.875em;
  height: 2.875em;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 4em;
  background-color: rgb(34, 34, 34);
}
.vote-card .top .buttons {
  display: flex;
}
.vote-card .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
.vote-card .content .text {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.vote-card .content .text .opacity-50 {
  opacity: 0.5;
}
.vote-card .content .center {
  align-items: center;
}
.vote-card:hover {
  transform: scale(1.005);
  transition: transform 0.75 ease-in-out;
}

.buttons .button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons .text {
  padding: 0.875em;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 4em;
}
.buttons .text-wide {
  padding: 0.9375em 2.375em;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 4em;
}
.buttons .icon-s {
  max-width: 2.875em;
  max-height: 2.875em;
  padding: 14px;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 4em;
}
.buttons .fill {
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(34, 34, 34);
}
.buttons .light-border {
  border: 1px solid rgba(34, 34, 34, 0.25);
  border-radius: 4em;
}

/*# sourceMappingURL=main.css.map */
