@use 'colors' as c;
@use 'sizes' as s;

@mixin border() {
    border: 1px solid c.$primary-faded-black;
    border-radius: s.$size-08;
}

@mixin border-light() {
    border: 1px solid rgba(34,34,34,0.250);
    border-radius: s.$size-08;
}

@mixin effect-blur-shadow() {
	backdrop-filter : blur(4px);
	box-shadow: 0px 1px 16px rgba(0,0,0,0.040);
}