@use '../util' as u;
@use '../globals/sizes' as s;
@use '../globals/colors' as c;
@use '../globals/styles' as st;

.a-block{
    display: block;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img{
        flex-shrink: 1;
        min-width: 100%;
        min-height: 100%;
    }
}

.opacity-50{
    opacity: 0.5;
}

.pic{
    width: u.em(46);
    height: u.em(46);
    border-radius: s.$size-08;
    // background-color: c.$primary-faded-black;
}